<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3><%= @user.name %>, Thank you for using HomeworkHelper.com!</h3>
<p>
  <%= link_to problem_url(@key), "Your Problem" %> has been updated with a note from <strong><%= @note.user.name %></strong>.
</p>
<p>Maybe it is the perfect solution to your problem!</p>
</body>
</html>