<h1>Homework Helper</h1>


<% @problems.each do |problem| %>
    <div>
      <h2><%= problem.description %></h2>
      <div><%= problem.history %></div>
    </div>
<% end %>

<%= paginate @problems %>